<% if @topic4.question4 == 15  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "31" %>
    <%= label_tag :question_31, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "32" %>
    <%= label_tag :question_32, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 16  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "33" %>
    <%= label_tag :question_33, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "34" %>
    <%= label_tag :question_34, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 17  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "35" %>
    <%= label_tag :question_35, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "36" %>
    <%= label_tag :question_36, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 18  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "37" %>
    <%= label_tag :question_37, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "38" %>
    <%= label_tag :question_38, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 19  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "39" %>
    <%= label_tag :question_39, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "40" %>
    <%= label_tag :question_40, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 20  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "41" %>
    <%= label_tag :question_41, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "42" %>
    <%= label_tag :question_42, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 21  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "43" %>
    <%= label_tag :question_43, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "44" %>
    <%= label_tag :question_44, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 22  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "45" %>
    <%= label_tag :question_45, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "46" %>
    <%= label_tag :question_46, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 23  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "47" %>
    <%= label_tag :question_47, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "48" %>
    <%= label_tag :question_48, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 24  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "49" %>
    <%= label_tag :question_49, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "50" %>
    <%= label_tag :question_50, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 25  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "51" %>
    <%= label_tag :question_51, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "52" %>
    <%= label_tag :question_52, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 26  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "53" %>
    <%= label_tag :question_53, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "54" %>
    <%= label_tag :question_54, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 27  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "55" %>
    <%= label_tag :question_55, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "56" %>
    <%= label_tag :question_56, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 28  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "57" %>
    <%= label_tag :question_57, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "58" %>
    <%= label_tag :question_58, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 29  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "59" %>
    <%= label_tag :question_59, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "60" %>
    <%= label_tag :question_60, "名のあるチェーン店" %>
  <input type="submit" value="次へ">
  <% end %>
<% end %>
<% if @topic4.question4 == 30  %>
  <%= form_for(@topic5) do |f| %>
    <p>Q5.あなたはどっち派？</p>
    <%= f.radio_button :question5, "61" %>
    <%= label_tag :question_61, "こじんまりな個人店" %>
    <%= f.radio_button :question5, "62" %>
    <%= label_tag :question_62, "名のあるチェーン店" %>
    <input type="submit" value="次へ">
  <% end %>
<% end %>