<% if @topic5.question5 == 31  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ０", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 32  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 33  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ２", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 34  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ３", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 35  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ４", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 36  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ５", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 37  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "京はやしやのわらび餅あんみつ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 38  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ７", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 39  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ８", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 40  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ９", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 41  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１０", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 42  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１１", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 43  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１２", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 44  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１３", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 45  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１４", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 46  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ１５", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 47  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "寿清庵のクレープ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 48  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "神楽坂茶寮本店のモンブラン", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 49  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "大三萬年堂hanareのパフェ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 50  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "茶寮翠泉のミルクレープ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 51  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ２０", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 52  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "SUZU CAFEのプリン", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 53  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "512 Cafe&Grillのパンケーキ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 54  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ２３", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 55  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "chanomaのテリーヌ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 56  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ２５", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 57  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "202カリー堂のチーズケーキ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 58  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ２７", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 59  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "sentimentのテリーヌ", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 60  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ２９", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 61  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "202カリー堂のプリン", matchas_page1_path%>
  <% end %>
<% if @topic5.question5 == 62  %>
  <p>あなたにぴったりの抹茶スイーツはこちら！</p>
  <%= link_to "こたえ３１", matchas_page1_path%>
  <% end %>